*{margin: 0; padding:0;}
body{font-size: 16px; line-height: 140%;}
h1, h2, h3, p, ul{margin-bottom: 10px;}
h1, h2{margin-top: 30px; font-weight: normal;}
figure img{width: 100%;}
figcaption{font-size: 80%;}

/* MEDIA QUERIES --- pour la lecture sur ordinateur, mobile et l'impression!  */
          @media only screen and (max-width: 900px) {
            #wrapper{margin: 0 auto; padding: 10px; background-color:yellow;}
            }
          @media screen and (min-width: 901px) {
            #wrapper{margin: 0 auto; width: 80vw; display: grid; grid-template-columns: repeat(7, 1fr); grid-column-gap: 10px; font-size: 1.4vw; line-height: 140%;}
            h1, h2, h3, p, ul{grid-column: 3/6;}
            figure{grid-column: 1/4;}
          }
